<div class="hero min-h-[80vh] bg-base-200 rounded-box">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold text-primary">Biblioteca UG</h1>
      <p class="py-6">
        Bienvenido al sistema de gestión bibliotecaria de la Facultad de
        Ciencias Matemáticas y Físicas de la UG.
      </p>

      <div class="flex justify-center gap-4">
        <a routerLink="/libros" class="btn btn-primary"> Ver Catálogo </a>

        @if (!isLoggedIn) {
          <a routerLink="/login" class="btn btn-outline"> Iniciar Sesión </a>
        }
      </div>
    </div>
  </div>
</div>
<footer class="p-10 bg-base-200 text-base-content rounded-box mt-8">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-8 animate-pulse">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body items-center text-center">
        <h2 class="card-title">📚 Libros físicos</h2>
        <p>Miles de libros a tu disposición.</p>
      </div>
    </div>
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body items-center text-center">
        <h2 class="card-title">⚡ Disponibilidad en tiempo real</h2>
        <p>Consulta el stock en tiempo real desde tu casa.</p>
      </div>
    </div>
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body items-center text-center">
        <h2 class="card-title">🎓 Uso exclusivo</h2>
        <p>Para estudiantes y docentes de la universidad.</p>
      </div>
    </div>
  </div>
</footer>
