<div class="navbar bg-base-100 shadow-sm mb-6 rounded-box">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[50] mt-3 w-52 p-2 shadow"
      >
        <li>
          <a routerLink="/" routerLinkActive="text-primary font-bold">Inicio</a>
        </li>
        <li>
          <a routerLink="/libros" routerLinkActive="text-primary font-bold"
            >Catálogo de Libros</a
          >
        </li>

        @if (isAdmin) {
          <li class="menu-title text-opacity-50 mt-2">Administración</li>
          <li>
            <a routerLink="/usuarios" routerLinkActive="active"
              >Gestionar Usuarios</a
            >
          </li>
          <li>
            <a routerLink="/prestamos" routerLinkActive="active"
              >Libros Prestados</a
            >
          </li>
        }
      </ul>
    </div>

    <a routerLink="/" class="btn btn-ghost text-xl">
      📚 Biblioteca <span class="text-primary">| UG</span>
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 gap-1">
      <li>
        <a
          routerLink="/"
          routerLinkActive="btn-active btn-ghost"
          [routerLinkActiveOptions]="{ exact: true }"
          >Inicio</a
        >
      </li>
      <li>
        <a routerLink="/libros" routerLinkActive="btn-active btn-ghost"
          >Catálogo de Libros</a
        >
      </li>

      @if (isAdmin) {
        <li>
          <details>
            <summary class="font-bold text-primary">Gestión</summary>
            <ul class="p-2 bg-base-100 w-48 z-[50] shadow-lg rounded-box">
              <li>
                <a
                  routerLink="/usuarios"
                  routerLinkActive="text-primary font-bold"
                >
                  👥 Usuarios
                </a>
              </li>

              <li>
                <a
                  routerLink="/prestamos"
                  routerLinkActive="text-primary font-bold"
                >
                  📖 Libros Prestados
                </a>
              </li>
            </ul>
          </details>
        </li>
      }
    </ul>
  </div>

  <div class="navbar-end gap-2">
    @if (isLoggedIn) {
      <span class="hidden md:inline font-medium text-sm mr-2 opacity-70">
        Hola, {{ username }}
      </span>

      <div class="dropdown dropdown-end">
        <div
          tabindex="0"
          role="button"
          class="btn btn-ghost btn-circle avatar placeholder bg-neutral text-neutral-content ring ring-primary ring-offset-base-100 ring-offset-2"
        >
          <div class="w-10 rounded-full flex items-center justify-center">
            <span>{{ username?.slice(0, 2)?.toUpperCase() }}</span>
          </div>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li class="menu-title">
            Rol: {{ isAdmin ? "Bibliotecario" : "Estudiante" }}
          </li>
          <li>
            <a (click)="logout()" class="text-error font-bold">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    } @else {
      <a routerLink="/login" class="btn btn-primary btn-sm px-6"> Ingresar </a>
    }
  </div>
</div>
